archived/taxi.csv
archived/covid-19-data
archived/ecg-spider-clip

cabspottingdata/trajectory.pkl

ptb-xl/records100/*
!ptb-xl/records100/00000
ptb-xl/records500/*

results/taxi_0.01_1000_10
results/taxi_0.01_1000_10 (quad)
results/taxi_0.01_1000_10 (11.24)

*.swp
info.log
info_quad.log
__pycache__
PrivPwcApprox_old.py
