cabspottingdata/trajectory.pkl
cabspottingdata/trajectory_selected.pkl

ptb-xl/records100/*
!ptb-xl/records100/00000
ptb-xl/records500/*

results/TaxiTrajectory/*/
results/ECG/*/

archived/datasets/
archived/results/*/
archived/results/results 1201/TaxiTrajectory/*/
archived/results/results 1201/ECG/*/
archived/results/results 1206/*/

*.swp
info.log
info_quad.log
__pycache__
PrivPwcApprox_old.py
