archived/taxi.csv
archived/covid-19-data
archived/ecg-spider-clip

cabspottingdata/trajectory.pkl

ptb-xl/records100/*
!ptb-xl/records100/00000
ptb-xl/records500/*

results/taxi_0.01_1000_10

*.swp
info.log
__pycache__
PrivPwcApprox_old.py
